body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}
.head{
    height:100px;
    text-align:center;
    padding: 20px;
    background-color:rgba(253, 191, 202, 0.74);
}
.container {
    width: 100%;
    height: 100%;
    background-color:rgb(245, 204, 224);
}
.slideshow{
    width: 640px;
    text-align: center;
    margin: auto;
    cursor: pointer;
}
.slides{
    position: relative;
}
.slide{
    display: none;
    position: relative;
}
.slide.active{
    display: block;
}
.slide img{
    width: 100%;
}
.slide div{
    background-color: rgba(132, 0, 255, 0.5);
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 44px;
    transition: min-height 0.5s;
    display:flex;
    justify-content: center;
    align-items: center;
}
.slide div:hover{
    min-height:100%;
}
.slide p{
    margin-bottom: 0px;
    padding: 10px;
    color: #fff;
    font-size: 2rem;
    transition: font-size 0.5s;
}
.slide p:hover{
    font-size: 5rem;
}
.prev{
    position: absolute;
    top:50%;
    background-color: #4e4e4ede;
    padding: 15px;
    border-radius: 0 12px 12px 0;
    margin-top: -32px;
    left: 0;
}
.next{
    position: absolute;
    top:50%;
    margin-top: -32px;
    background-color: #4e4e4ede;
    padding: 15px;
    border-radius:12px 0  0 12px ;
    right: 0;
}
.prev:active , .next:active{
    background-color: rgb(255, 251, 251);
}
.points{
    margin-top: 10px;
    padding: 10px;
}
.points span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background-color:rgb(192, 190, 190);
}
.points span.active{
    background-color:gray;
}
.footer{
    background-color:rgb(243, 134, 152);
    padding: 20px;
    text-align: center;
}
